;; Uses the configparser library in Py3

;; General MISP settings
[MISP]
url = https://misp.local ; URL of your MISP instance
key = XXXXXXXXXXXXX      ; API key for your user
validate_cert = yes      ; Validate the SSL certificate of the instance (recommended!)
custom_objects_path =    ; If the MISP instance uses custom objects, and you intend to
                         ;; use them to create objects using this tool, the path to the JSON
                         ;; schema needs to be given here. If you don't use custom objects, don't worry!
default_distribution = 0 ; For new events when using the --info argument | Distribution level(s) (0,1,2,3)

;; Override a MISP default setting when adding new Attributes
;; If the field is not defined below, it'll use the MISP default
;; Fields below are set as general MISP Attribute fields: https://pymisp.readthedocs.io/_modules/pymisp/mispevent.html#MISPAttribute.from_dict
[OBJECT_META]

; Syntax:
; object_name.field_name.attribute_option = [yes/no] / [123.../abc...] / etc.

file.md5.to_ids = yes
file.md5.disable_correlation = no

file.filename.to_ids = yes
file.filename.disable_correlation = no

file.sha1.to_ids = yes
file.sha1.disable_correlation = no

file.fullpath.to_ids = yes
file.fullpath.disable_correlation = no

domain-ip.domain.to_ids = yes
domain-ip.domain.disable_correlation = no

http-request.method.to_ids = yes
http-request.method.disable_correlation = no
;; Add your own here!

;; Customise the CSV parsing
[CSV_READER]
delimiter = ,
strict_csv_parsing = yes
quote_character = "